*{
  font-family: 'Zilla Slab', serif;
}

h1 {
  text-align: center;
  margin: 20px 10% 0 10%;
  padding: 30px 60px;
  background-color: #af4983;
  color: #fff;
}

p {
  margin: 0 20% 0 25%;
  font-family:monospace;
  color: #af4983;
  font-size: 1.2em;
}

label {
  text-align: center;
}

.wrapper {
  border-color: #af4983;
  border-style: solid;
  margin: 20px 15%;
}

#customize {
  background-color: #d6d6d6;
  padding: 10px;
}

#container {
  background-color: #f4f4f4;
  padding: 40px;
}

.custom-container {
  display: inline-block;
  margin: 0 100px 0 19%;
  font-size: 1.1em;
}


@media screen and (max-width: 480px) {
  p{
    font-size: 1em;
    margin: 0 0;
  }

  .custom-container {
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 0.9em;
  }
}
